<div class="container">
  <div class="row">
      <% 
        len = @feed_items.length
        mid = len / 2
      %>
      <div class="col-md-6 pull-left" style="width:49%">
          <%=render :partial=>"shared/feed_item", :collection=>@feed_items[0..mid], :as=>:feed_item %>
      </div>

      <div class="col-md-6 pull-right" style="width:49%">
          <%=render :partial=>"shared/feed_item", :collection=>@feed_items[mid+1..len-1], :as=>:feed_item %>
      </div>
  </div>
</div>
<%=javascript_include_tag 'image_resize' %>