<script type="text/javascript">
  function estimate() {
    var id = arguments[0];
    var es = arguments[1];
    $.ajax({
      type: "POST",
      url: "/estimate",
      data: {id:id, es:es},
      datatype: "json",
    
      complete: function(XMLHttpRequest, textStatus) {
        if(textStatus == "success") {
          var es_id_selector = '#' + id + '-' + es;
          $(es_id_selector).html($.parseJSON(XMLHttpRequest.responseText)['num']);
        }else {
          console.log(textStatus);
        }
      },

      error: function(XMLHttpRequest, textStatus, errorThrown) {
        console.log(textStatus + '&' + errorThrown);
      }
    });
  }
</script>
<div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
      <h3 class="panel-title  main-page-title">Jokester</h3>
      <div style="text-align:right;padding-right:5px">
         <%=link_to "Upload Your Episode", {:controller=>"episodes", :action=>"new"}%>
      </div>
    </div>
    <div class="panel-body">
        <div>
            <%= render 'shared/feed' %>
        </div>
    </div>
  </div>
</div>