<div class="center hero-unit">
	<div class="jumbotron">
	  <h1>Welcome to the Stark</h1>

	  <h2>
	    This is the home page for the Stark
	  </h2>

    <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
  </div>
</div>

