<header class="navbar navbar-fixed-top navbar-inverse" role="navigation">
  <div class="container">
    <div class="collapse navbar-collapse">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Stark</a>
      </div>
      <ul class="nav navbar-nav">
        <li><%= link_to "Home",    '#' %></li>
        <li><%= link_to "About",    '#' %></li>
        <li><%= link_to "Contact",    '#' %></li>
        <li><%= link_to "Sign in", '#' %></li>
      </ul>
    </div>
  </div>
</header>